$primary: #FFBAEC;
$primaryContainer: #D0BCFF;
$onPrimaryContainer: #381E72;
$secondaryContainer: #4A4458;
$onSecondaryContainer: #E8DEF8;
$surface: #204B34;
$onSurface: #dddddd;
$surfaceVariant: #0A3735;
$onSurfaceVariant: #dddddd;
$errorContainer: #a50c0c;
$gradientRight: #1B283D;
