$primary: #FFBAEC;
$primaryContainer: #D0BCFF;
$onPrimaryContainer: #381E72;
$secondaryContainer: #4A4458;
$onSecondaryContainer: #E8DEF8;
$surface: #1e1e1e;
$onSurface: #dddddd;
$surfaceVariant: #2D2828;
$onSurfaceVariant: #dddddd;
$errorContainer: #a50c0c;